root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[public/**.php]
indent_size = 0

[*.html]
indent_size = 2

[doc/**]
end_of_line = lf

[frontend/**]
indent_size = 2
end_of_line = lf

[*.js]
indent_size = 2
end_of_line = lf

[*.css]
indent_size = 2
end_of_line = lf

[core/**.php]
indent_size = 4
