$icon-arrowdown: "\f107";
$icon-arrowleft: "\f105";
$icon-arrowup: "\f106";
$icon-search: "\f002";
$icon-close: "\f00d";
$icon-shoping-cart: "\f07a";
$icon-gift: "\f06b";
$icon-diamond: "\f3a5";

$icon-envelope: "\f0e0";
$icon-linkedin: "\f0e1";
$icon-facebook: "\f39e";
$icon-twitter: "\f099";
$icon-dribbble: "\f17d";

$arr-icon-sociallist: $icon-envelope, $icon-linkedin, $icon-facebook, $icon-twitter, $icon-dribbble;

$icon-star: "\f005";
$icon-female: "\f182";
$icon-tag: "\f02c";
$arr-icon-shoplist: $icon-star, $icon-female, $icon-tag;

$icon-phone: "\f095";
$icon-map-marker-alt: "\f3c5";
$arr-icon-contact: $icon-phone, $icon-envelope, $icon-map-marker-alt;
